 <!-- indice 0 - tela principal -->
<div *ngIf="indice == 0">

  <div class="m-5">
    <h1>Funcionario: </h1>
  </div>
  
  <div class="m-5">
    <button type="button" class="btn btn-primary" (click)="cadastrarFuncionario()">Cadastrar Funcionario</button>
  </div>
  
  <div class="ms-5 col-9">
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOME</th>
          <th scope="col">FOTO</th>
          <th scope="col">RG</th>
          <th scope="col">ID DEPARTAMENTO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let func of funcionarios">
          <td>{{func.id}}</td>
          <td>{{func.nome}}</td>
          <td>{{func.foto}}</td>
          <td>{{func.rg}}</td>
          <td>{{func.departamentoId}}</td>
          <td>
            <div class="d-flex flex-row">
              <div class="ms-3">
                <button type="button" class="btn btn-primary" (click)="editarFuncionario(func)">Editar</button>
              </div>
              <div class="ms-3">
                <button type="button" class="btn btn-danger" (click)="openModal(template, func)">Excluir</button>
              </div>
            </div>
          </td>
  
        </tr>
      </tbody>
    </table>
  
  </div> 

</div>

<!-- indice 2 - cadastrar funcionario -->
<div *ngIf="indice == 2">

  <div class="m-5">
    <h1>Cadastro funcionário</h1>
  </div>

  <div class="m-5 ">
    <form [formGroup]="funcionarioForm" (submit)="salvarCadastroFunc(funcionarioSelecionado)">
      <div class="mb-3 col-9">
        <label class="form-label">Nome</label>
        <input type="text" formControlName="nome" class="form-control">
      </div>
      <div class="mb-3 col-9">
        <label class="form-label">Foto</label>
        <input type="text" formControlName="foto" class="form-control">
      </div>
      <div class="mb-3 col-9">
        <label class="form-label">RG</label>
        <input type="text" formControlName="rg" class="form-control">
      </div>
      <div class="mb-3 col-9">
        <label class="form-label">ID Departamento</label>
        <input type="text" formControlName="departamentoId" class="form-control">
      </div>
      <button type="submit" class="btn btn-success">Salvar</button>
    </form>
  </div>

  <div class="ms-5 btn btn-primary" (click)="voltar()" >Voltar</div>
</div>

 <!-- indice 3 - editar departamento -->
 <div *ngIf="indice == 3">

  <div class="m-5">
    <h1>Editando: {{funcionarioSelecionado.nome}} </h1>
  </div>

  <div class="m-5 ">
    <form [formGroup]="funcionarioForm" (submit)="salvarEdicao(funcionarioSelecionado)">
      <div class="mb-3 col-9">
        <label class="form-label">Nome</label>
        <input type="text" formControlName="nome" class="form-control">
      </div>
      <div class="mb-3 col-9">
        <label class="form-label">Foto</label>
        <input type="text" formControlName="foto" class="form-control">
      </div>
      <div class="mb-3 col-9">
        <label class="form-label">RG</label>
        <input type="text" formControlName="rg" class="form-control">
      </div>
      <div class="mb-3 col-9">
        <label class="form-label">ID Departamento</label>
        <input type="text" formControlName="departamentoId" class="form-control">
      </div>
      <button type="submit" class="btn btn-success">Salvar</button>
    </form>
  </div>

  <div class="ms-5 btn btn-primary" (click)="voltar()">Voltar</div>
</div>

 <!-- template excluir -->
 <ng-template #template>

  <div class="modal-body">
    Você tem certeza que deseja excluir?
  </div>

  <div class="modal-footer">

   <button type="button" class="btn btn-danger pull-left" aria-label="Close" (click)="excluirFuncionario(funcionarioSelecionado)">
     EXCLUIR
   </button>

    <button type="button" class="btn pull-right" aria-label="Close" (click)="fecharModal()">
      FECHAR
    </button>
  </div>

</ng-template>
